In [9]:
import openpyxl
import pandas as pd

In [24]:
entso = pd.read_excel('DATA/ENTSO-E/installed_capacity_per_production_type.xlsx')
entso

,Date,Country,Biomass,Hydro Run-of-river and poundage,Hydro Water Reservoir,Fossil Brown coal/Lignite,Fossil Coal-derived gas,Fossil Gas,Fossil Hard coal,Fossil Oil,...,Geothermal,Hydro Pumped Storage,Marine,Nuclear,Other,Other renewable,Solar,Waste,Wind Offshore,Wind Onshore
0,2018-01-01,AL,0.0,1492.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-01,AL,0.0,0.0,1492.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-01,AL,0.0,0.0,1492.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-01-01,AT,464.0,5543.0,2965.0,0.0,0.0,4501.0,1171.0,178.0,...,1.0,2971.0,0.0,0.0,23.0,31.0,587.0,144.0,0.0,2121.0
4,2016-01-01,AT,474.0,5575.0,2965.0,0.0,0.0,4466.0,766.0,178.0,...,1.0,2971.0,0.0,0.0,23.0,33.0,723.0,144.0,0.0,2497.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,2015-02-01,UK,2124.0,1570.0,NaN,NaN,NaN,30287.0,16714.0,566.0,...,NaN,2744.0,NaN,8981.0,5131.0,1573.0,NaN,NaN,5041.0,8420.0
192,2016-02-01,UK,1890.0,1540.0,NaN,NaN,NaN,27241.0,15365.0,1108.0,...,NaN,2744.0,NaN,8981.0,4617.0,1817.0,NaN,NaN,5011.0,9138.0
193,2017-02-01,UK,2119.0,1525.0,NaN,NaN,NaN,29237.0,11611.0,1075.0,...,NaN,2744.0,NaN,8985.0,6222.0,2104.0,NaN,NaN,5471.0,10800.0
194,2018-02-01,UK,2099.0,1758.0,NaN,NaN,NaN,28755.0,11427.0,316.0,...,NaN,2744.0,NaN,8974.0,8470.0,3132.0,12563.0,NaN,6071.0,13139.0
195,2019-02-01,UK,4061.0,1885.0,NaN,NaN,NaN,37698.0,8794.0,316.0,...,NaN,2744.0,NaN,9229.0,4506.0,1873.0,13438.0,NaN,9379.0,13633.0

In [25]:
eurostat = pd.read_excel('DATA/EUROSTAT/installed_capacity_per_production_type.xlsx',
             sheet_name='Sheet 1')
eurostat

,GEO (Labels),SIEC (Labels),2000,2001,2002,2003,2004,2005,2006,2007,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Belgium,Combustible fuels,8105,7934,7930,7960,7964,8223,8313,8293,...,9128,8182,7559,7202.0,7199.0,7167.9,7019.3,6667.4,6462.6,6403.8
1,Belgium,Hydro,1413,1421,1421,1420,1425,1412,1414,1417,...,1426,1427,1429,1431.0,1422.0,1419.1,1417.1,1417.8,1414.1,1415.8
2,Belgium,Pure hydro power,103,111,111,110,115,105,107,110,...,119,120,119,121.0,112.0,109.1,107.1,107.8,104.1,105.8
3,Belgium,Mixed hydro power,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,Belgium,Pumped hydro power,1310,1310,1310,1310,1310,1307,1307,1307,...,1307,1307,1310,1310.0,1310.0,1310.0,1310.0,1310.0,1310.0,1310
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,Georgia,Solar thermal,:,:,:,:,:,:,:,:,...,:,:,0,0.0,0.0,0.0,0.0,0.0,0.0,0
488,Georgia,Solar photovoltaic,:,:,:,:,:,:,:,:,...,:,:,0,0.0,0.0,0.0,0.0,0.0,0.0,0
489,Georgia,"Tide, wave, ocean",:,:,:,:,:,:,:,:,...,:,:,0,0.0,0.0,0.0,0.0,0.0,0.0,0
490,Georgia,Nuclear fuels and other fuels n.e.c.,:,:,:,:,:,:,:,:,...,:,:,0,0.0,0.0,0.0,0.0,0.0,0.0,0
491,Georgia,Other fuels n.e.c.,:,:,:,:,:,:,:,:,...,:,:,0,0.0,0.0,0.0,0.0,0.0,0.0,0