In [9]:
import openpyxl
import pandas as pd

In [7]:
entso = pd.read_excel('DATA/ENTSO-E/installed_capacity_per_production_type.xlsx')

In [23]:
eurostat = pd.read_excel('DATA/EUROSTAT/installed_capacity_per_production_type.xlsx',
             sheet_name='Sheet 1')

,GEO (Labels),SIEC (Labels),2000,2001,2002,2003,2004,2005,2006,2007,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Belgium,Combustible fuels,8105,7934,7930,7960,7964,8223,8313,8293,...,9128,8182,7559,7202.0,7199.0,7167.9,7019.3,6667.4,6462.6,6403.8
1,Belgium,Hydro,1413,1421,1421,1420,1425,1412,1414,1417,...,1426,1427,1429,1431.0,1422.0,1419.1,1417.1,1417.8,1414.1,1415.8
2,Belgium,Pure hydro power,103,111,111,110,115,105,107,110,...,119,120,119,121.0,112.0,109.1,107.1,107.8,104.1,105.8
3,Belgium,Mixed hydro power,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,Belgium,Pumped hydro power,1310,1310,1310,1310,1310,1307,1307,1307,...,1307,1307,1310,1310.0,1310.0,1310.0,1310.0,1310.0,1310.0,1310
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,Georgia,Solar thermal,:,:,:,:,:,:,:,:,...,:,:,0,0.0,0.0,0.0,0.0,0.0,0.0,0
488,Georgia,Solar photovoltaic,:,:,:,:,:,:,:,:,...,:,:,0,0.0,0.0,0.0,0.0,0.0,0.0,0
489,Georgia,"Tide, wave, ocean",:,:,:,:,:,:,:,:,...,:,:,0,0.0,0.0,0.0,0.0,0.0,0.0,0
490,Georgia,Nuclear fuels and other fuels n.e.c.,:,:,:,:,:,:,:,:,...,:,:,0,0.0,0.0,0.0,0.0,0.0,0.0,0
491,Georgia,Other fuels n.e.c.,:,:,:,:,:,:,:,:,...,:,:,0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [21]:
pd.DataFrame(sheet.values)

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,TIME,None,2000,2001,2002,2003,2004,2005,2006,2007,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
1,GEO (Labels),SIEC (Labels),,,,,,,,,...,,,,,,,,,,
2,Belgium,Combustible fuels,8105,7934,7930,7960,7964,8223,8313,8293,...,9128,8182,7559,7202,7199,7167.9,7019.3,6667.4,6462.6,6403.8
3,Belgium,Hydro,1413,1421,1421,1420,1425,1412,1414,1417,...,1426,1427,1429,1431,1422,1419.1,1417.1,1417.8,1414.1,1415.8
4,Belgium,Pure hydro power,103,111,111,110,115,105,107,110,...,119,120,119,121,112,109.1,107.1,107.8,104.1,105.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Georgia,Solar thermal,:,:,:,:,:,:,:,:,...,:,:,0,0,0,0,0,0,0,0
490,Georgia,Solar photovoltaic,:,:,:,:,:,:,:,:,...,:,:,0,0,0,0,0,0,0,0
491,Georgia,"Tide, wave, ocean",:,:,:,:,:,:,:,:,...,:,:,0,0,0,0,0,0,0,0
492,Georgia,Nuclear fuels and other fuels n.e.c.,:,:,:,:,:,:,:,:,...,:,:,0,0,0,0,0,0,0,0
493,Georgia,Other fuels n.e.c.,:,:,:,:,:,:,:,:,...,:,:,0,0,0,0,0,0,0,0